<ion-header>
  <ion-toolbar>
    <ion-title>
Books List 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let book of mybooks" >
      <ion-item>
        <ion-label>{{book.name}}</ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="onEdit(book.id)">Edit</ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
          <ion-item-option color="danger" (click)="onDelete(book.id)">Delete</ion-item-option>     
         </ion-item-options>
    </ion-item-sliding>
  </ion-list>
   
     <ion-button expand="full" fill="outline" href="add-book">Add a New Book</ion-button>



</ion-content>
